<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.iman.Heimdallr.mapper.ApiTestCaseDetailsMapper">
    
    <select id="selectBy" parameterType="org.iman.Heimdallr.entity.ApiTestCase" resultType="org.iman.Heimdallr.entity.ApiTestCase">
        select atcd.id, atcd.appId, atcd.generalCaseId, atcd.priority, atcd.apiId, atcd.name, atcd.header, atcd.steps, atcd.parameters, atcd.querySql, atcd.expectedResult, atcd.resultCheckMode, atcd.dbConnId, atcd.enabled, atcd.deleted, atcd.createBy, atcd.createTime, atcd.modifiedBy, atcd.modifiedTime
        from  apiTestCaseDetails atcd
        where 1 = 1
        <if test = 'criteria.id != null'> and atcd.id = #{criteria.id} </if>
        <if test = 'criteria.appId != null'> and atcd.appId = #{criteria.appId} </if>
        <if test = 'criteria.generalCaseId != null'> and atcd.generalCaseId = #{criteria.generalCaseId} </if>
        <if test = 'criteria.priority != null'> and atcd.priority = #{criteria.priority} </if>
        <if test = 'criteria.apiId != null'> and atcd.apiId = #{criteria.apiId} </if>
        <if test = 'criteria.name != null and criteria.name.trim() != &quot;&quot;'> and atcd.name like concat('%', #{criteria.name}, '%')</if>
        <if test = 'criteria.resultCheckMode != null'> and atcd.resultCheckMode = #{criteria.resultCheckMode} </if>
        <if test = 'criteria.dbConnId != null'> and atcd.dbConnId = #{criteria.dbConnId} </if>
        <if test = 'apiIds != null and apiIds.size() > 0'> 
            and atcd.apiId in
            <foreach collection="apiIds" item = "caseId"  open="(" close=")" separator=",">
                #{caseId}
            </foreach>
        </if>
        <choose>
            <when test = 'criteria.enabled != null and criteria.enabled == false'> and atcd.enabled = 0 </when>
            <when test = 'criteria.enabled != null and criteria.enabled == true'> and atcd.enabled = 1 </when>
            <otherwise></otherwise>
        </choose>
        <choose>
            <when test = 'criteria.deleted != null and criteria.deleted == true'> and atcd.deleted = 1 </when> 
            <otherwise>and atcd.deleted = 0 </otherwise>
        </choose>
    </select>
    
    <select id="selectByPage" parameterType="org.iman.Heimdallr.entity.ApiTestCase" resultType="org.iman.Heimdallr.entity.ApiTestCase">
        select atcd.id, atcd.appId,  atcd.generalCaseId, atcd.priority, atcd.apiId, atcd.name, atcd.header, atcd.steps, atcd.parameters, atcd.querySql, atcd.expectedResult, atcd.resultCheckMode, atcd.dbConnId, atcd.enabled, atcd.deleted, atcd.createBy, atcd.createTime, atcd.modifiedBy, atcd.modifiedTime
        from  apiTestCaseDetails atcd
        where 1 = 1
        <if test = 'criteria.id != null'> and atcd.id = #{criteria.id} </if>
        <if test = 'criteria.appId != null'> and atcd.appId = #{criteria.appId} </if>
        <if test = 'criteria.generalCaseId != null'> and atcd.generalCaseId = #{criteria.generalCaseId} </if>
        <if test = 'criteria.priority != null'> and atcd.priority = #{criteria.priority} </if>
        <if test = 'criteria.apiId != null'> and atcd.apiId = #{criteria.apiId} </if>
        <if test = 'criteria.name != null and criteria.name.trim() != &quot;&quot;'> and atcd.name like concat('%', #{criteria.name}, '%')</if>
        <if test = 'criteria.resultCheckMode != null'> and atcd.resultCheckMode = #{criteria.resultCheckMode} </if>
        <if test = 'criteria.dbConnId != null'> and atcd.dbConnId = #{criteria.dbConnId} </if>
        <if test = 'apiIds != null and apiIds.size() > 0'> 
            and atcd.apiId in
            <foreach collection="apiIds" item = "caseId"  open="(" close=")" separator=",">
                #{caseId}
            </foreach>
        </if>
        <choose>
            <when test = 'criteria.enabled != null and criteria.enabled == false'> and atcd.enabled = 0 </when>
            <when test = 'criteria.enabled != null and criteria.enabled == true'> and atcd.enabled = 1 </when>
            <otherwise></otherwise>
        </choose>
        <choose>
            <when test = 'criteria.deleted != null and criteria.deleted == true'> and atcd.deleted = 1 </when> 
            <otherwise>and atcd.deleted = 0 </otherwise>
        </choose>
        
        limit #{offset}, #{capacity}
    </select>
    
    <select id="countByPage" parameterType="org.iman.Heimdallr.entity.ApiTestCase" resultType="java.lang.Integer">
        select count(atcd.id)
        from  apiTestCaseDetails atcd
        where 1 = 1
        <if test = 'criteria.id != null'> and atcd.id = #{criteria.id} </if>
        <if test = 'criteria.appId != null'> and atcd.appId = #{criteria.appId} </if>
        <if test = 'criteria.generalCaseId != null'> and atcd.generalCaseId = #{criteria.generalCaseId} </if>
        <if test = 'criteria.priority != null'> and atcd.priority = #{criteria.priority} </if>
        <if test = 'criteria.apiId != null'> and atcd.apiId = #{criteria.apiId} </if>
        <if test = 'criteria.name != null and criteria.name.trim() != &quot;&quot;'> and atcd.name like concat('%', #{criteria.name}, '%')</if>
        <if test = 'criteria.resultCheckMode != null'> and atcd.resultCheckMode = #{criteria.resultCheckMode} </if>
        <if test = 'criteria.dbConnId != null'> and atcd.dbConnId = #{criteria.dbConnId} </if>
        <if test = 'apiIds != null and apiIds.size() > 0'> 
            and atcd.apiId in
            <foreach collection="apiIds" item = "caseId"  open="(" close=")" separator=",">
                #{caseId}
            </foreach>
        </if>
        <choose>
            <when test = 'criteria.enabled != null and criteria.enabled == false'> and atcd.enabled = 0 </when>
            <when test = 'criteria.enabled != null and criteria.enabled == true'> and atcd.enabled = 1 </when>
            <otherwise></otherwise>
        </choose>
        <choose>
            <when test = 'criteria.deleted != null and criteria.deleted == true'> and atcd.deleted = 1 </when> 
            <otherwise>and atcd.deleted = 0 </otherwise>
        </choose>
    </select>
    
    <update id="deleteBy" parameterType = "org.iman.Heimdallr.entity.ApiTestCase">
        update apiTestCaseDetails
        set deleted = 1
        where 1= 1
        <if test = 'id != null'> and id = #{id} </if>
    </update>
    
    <update id="stateSwitch" parameterType = "org.iman.Heimdallr.entity.ApiTestCase">
        update apiTestCaseDetails
        set enabled = #{enabled}
        where 1= 1
        <if test = 'id != null'> and id = #{id} </if>
    </update>
    
    <update id="updateById" parameterType="org.iman.Heimdallr.entity.ApiTestCase">
        update apiTestCaseDetails
        <trim prefix="set" suffixOverrides="," suffix=" where id = #{id}">
            <if test='name != null and name.trim() != &quot;&quot;'> name = #{name}, </if>
            <if test='appId != null'> appId = #{appId}, </if>
            <if test='generalCaseId != null'> generalCaseId = #{generalCaseId}, </if>
            <if test='priority != null'> priority = #{priority}, </if>
            <if test='apiId != null'> appId = #{apiId}, </if>
            <if test='header != null '> header = #{header}, </if>
            <if test='steps != null and steps.trim() != &quot;&quot;'> steps = #{steps}, </if>
            <if test='parameters != null'> parameters = #{parameters}, </if>
            <if test='querySql != null and querySql.trim() != &quot;&quot;'> querySql = #{querySql}, </if>
            <if test='expectedResult != null'> expectedResult = #{expectedResult}, </if>
            <if test='resultCheckMode != null'> resultCheckMode = #{resultCheckMode}, </if>
            <if test='dbConnId != null'> dbConnId = #{dbConnId}, </if>
        </trim>
    </update>
    
    <update id="clearResultById" parameterType="org.iman.Heimdallr.entity.ApiTestCase">
        update apiTestCaseDetails
        set expectedResult = null 
        where id = #{id}
    </update>
    
    <update id="clearDBInfoById" parameterType="org.iman.Heimdallr.entity.ApiTestCase">
        update apiTestCaseDetails
        set dbConnId = null, querySql = null
        where id = #{id}
    </update>
    
    <update id="clearHeadersById" parameterType="org.iman.Heimdallr.entity.ApiTestCase">
        update apiTestCaseDetails
        set header = '{}'
        where id = #{id}
    </update>
    
</mapper>