<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.iman.Heimdallr.mapper.MindRawDataMapper">
    
    <select id="selectBy" parameterType="org.iman.Heimdallr.entity.MindRawData" resultType="org.iman.Heimdallr.entity.MindRawData">
        select mrd.id, mrd.appId, mrd.moduleId, mrd.functionId, mrd.rawData, mrd.enabled, mrd.deleted, mrd.createBy, mrd.createTime, mrd.modifiedBy, mrd.modifiedTime
        from  mindRawData mrd
        where 1 = 1
        <if test = 'appId != null'> and mrd.appId = #{appId} </if>
        <if test = 'moduleId != null'> and mrd.moduleId = #{moduleId} </if>
        <if test = 'functionId != null'> and mrd.functionId = #{functionId} </if>
        <if test = 'id != null'> and mrd.id = #{id} </if>
        <choose>
            <when test = 'enabled != null and enabled == false'> and mrd.enabled = 0 </when>
            <otherwise>and mrd.enabled = 1 </otherwise>
        </choose>
        <choose>
            <when test = 'deleted != null and deleted == true'> and mrd.deleted = 1 </when> 
            <otherwise>and mrd.deleted = 0 </otherwise>
        </choose>
    </select>
    
    <!-- 
    <update id="deleteBy" parameterType = "org.iman.Heimdallr.entity.AppStructure">
        update appStructure
        set deleted = 1
        where 1= 1
        <if test = 'id != null'> and id = #{id} </if>
        <if test = 'name != null and name.trim() != &quot;&quot;'> and name = #{name} </if>
        <if test = 'level != null'> and level = #{level} </if>
        <if test = 'root != null'> and root = #{root} </if>
    </update>
     -->
</mapper>